flask
ipykernel
#USE
protobuf<=3.20
tensorflow-text
tensorflow-hub
tensorflow-gpu
#STT
torch>=1.4.0
torchaudio
python-Levenshtein
librosa>=0.7.0
numpy
pandas
tqdm
matplotlib
astropy
sentencepiece
hydra-core