flask
ipykernel
#Sentiment Analysis, Text Summarization
pororo
mecab-python @ file:///c:/mecab_python-0.996_ko_0.9.2_msvc-cp37-cp37m-win_amd64.whl
#USE
protobuf<=3.20
tensorflow-text>=2.0.0rc0
tensorflow-hub
tensorflow-gpu
#STT
fairseq==0.12.2
torch==1.6.0
torchvision==0.7.0
torchaudio==0.8.0
python-Levenshtein
librosa>=0.7.0
# numpy
pandas
# tqdm
matplotlib
astropy
# sentencepiece
# hydra-core
wordcloud
#google STT
SpeechRecognition